.templates {
  padding-top: 50px;
  background-color: var(--dark-navy);
  overflow-x: hidden;
  .row {
    padding: 40px 0;
    .col {
      h3 {
        color: var(--white);
        font-size: 48px;
        line-height: 68px;
        font-weight: 600;
      }
    }
    .col-md-3:hover {
      transform: translateY(-10px);
      transition: 0.5s;
      box-shadow: 1px 1px 4px rgb(230, 241, 255);
      .card {
        h5 {
          color: rgb(101, 255, 202);
        }

        h6 {
          color: var(--white);
        }
      }
    }
    .col-md-3 {
        width: 20rem !important;
      .card {
        background-color: var(--light-navy);
        .card-links {
          i {
            color: rgb(101, 255, 202);
          }
          padding: 2rem 1rem;
          .fa-folder {
            font-size: 42px;
          }
          .fa-github {
            margin-left: 5rem;
            font-size: 25px;
          }
          .fa-up-right-from-square {
            font-size: 25px;
          }
        }
        h5,
        p {
          color: var(--lightest-slate);
        }
        h5 {
          font-size: 25px;
          font-weight: 500;
          line-height: 35.8px;
        }
      }
    }
  }
}
@media (max-width: 986px) {
  .templates {
    .row {
      .col-md-3:hover {
        box-shadow: 0, 0, 0 transparent;
      }
      .col-md-3 {
        margin: 18px 0;
        .card {
          margin: auto;
          padding: 0;
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .templates {
    .row {
      .col {
        h3 {
          font-size: 32px;
          line-height: 48px;
        }
      }
      .col-md-3 {
        .card {
          width: auto !important;
        }
      }
    }
  }
}
