.worked {
  padding-top: 120px;
  background-color: var(--dark-navy);
  overflow-x: hidden;
  .row {
    .col {
      h3 {
        color: var(--white);
        font-size: 48px;
        line-height: 68px;
        font-weight: 600;
      }
    }
  }
  .d-flex {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 130px;
    .left-title {
      ul {
        list-style: none;
        .btnn {
          color: var(--lightest-slate);
          background-color: transparent;
          border: none;
          padding: 12px 0;
        }
        #openPopup:focus {
          outline: none;
        }
      }
    }
    .center{
        padding: 0 50px;
    }
    .right-describtion {
      max-width: 600px;
      h3 {
        color: var(--white);
        font-weight: 400;
        line-height: 24px;
        span {
          color: rgb(101, 255, 202) !important;
        }
      }
      small {
        color: var(--white);
      }
      p {
        color: var(--light-slate);
        i {
          color: rgb(101, 255, 202);
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 986px) {
  .worked {
    .d-flex {
      display: block !important;
      justify-content: center;
      text-align: left;
      .left-title {
        padding-bottom: 30px;
        ul {
          display: grid !important;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          text-align: center;
          li {
            .btnn {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
.tab--active {
  color: rgb(101, 255, 202) !important ;
  font-size: 35px;
  font-weight: 600;
}
.operation--content {
  display: none;
}
.content--active {
  display: block;
}
@media (max-width: 430px) {
  .worked {
    margin: auto;
    .row {
      .col {
        h3 {
          color: var(--white);
          font-size: 32px;
          line-height: 48px;
          .left-title {
            .d-flex {
              ul {
                li {
                  .btnn {
                    font-size: 19px;
                  }
                }
              }
            }
            .right-describtion {
              .operation--content{
                  padding: 30px 0;
              }
          }
          }
        }
      }
      .right-describtion {
      max-width: 400px;
    }
    }
  }
}
