@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
header nav {
  background-color: var(--dark-navy);
}

header nav .navbar-brand {
  color: #65ffca;
  font-size: 26px;
  line-height: 48px;
  font-weight: 600;
  padding-top: 25px;
  text-shadow: 1px 1px 5px #000;
}

header nav .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header nav .navbar-collapse .navbar-nav .nav-item {
  padding: 0 1rem;
}

header nav .navbar-collapse .navbar-nav .nav-item :hover {
  color: #65ffca !important;
  text-decoration: underline;
}

header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #b6c1de;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav .btn-primar {
  color: #65ffca;
  background-color: transparent;
  border-color: #65ffca;
  margin-left: 228px;
  font-family: 'Fira Mono', monospace;
}

.sticky {
  position: fixed;
  top: 0;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
  background: rgba(2, 12, 33, 0.9);
  height: 4.1rem;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 1px 1px 5px #000;
          box-shadow: 1px 1px 5px #000;
}

.cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  background-color: var(--dark-slate);
  padding: 0 1rem 1rem 0;
  width: 100%;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  -webkit-box-shadow: 1px 1px 10px #e6f1ff;
          box-shadow: 1px 1px 10px #e6f1ff;
}

.hidden {
  display: none;
}

.btn--close-cookie {
  color: #65ffca;
  background-color: transparent;
  border-color: #65ffca;
  font-family: 'Fira Mono', monospace;
  margin-top: 1rem;
}

#openPopup:focus {
  outline: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  z-index: 9000;
}

#loadingimg {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 500px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  z-index: 9000;
}

.hero-bg {
  background-color: var(--dark-navy);
  padding-top: 3rem;
  height: auto;
  padding-left: 96px;
}

.hero-bg #openPopup:focus {
  outline: none;
}

.hero-bg #particles-js {
  position: absolute;
  width: 100%;
  height: 80vh;
  left: 0;
  top: 80px;
  padding: 80px;
  padding: 50px;
  z-index: 0;
}

.hero-bg .main-section small {
  font-family: "Fira Mono", monospace;
  color: #65ffca;
  font-size: 18px;
  margin-bottom: 2rem;
}

.hero-bg .main-section h1 {
  color: #ccd7f1;
  font-weight: 600;
  font-size: 68px;
  display: block;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0.4em;
          margin-block-start: 0.4em;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.hero-bg .main-section .dynamic-text-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hero-bg .main-section .dynamic-text-wrapper .static-text {
  color: #8893af;
  font-size: 48px;
  line-height: 68px;
  font-weight: bold;
  margin-bottom: 14px;
}

.hero-bg .main-section .dynamic-text-wrapper .dynamic-text {
  margin-left: 20px;
  height: 68px;
  line-height: 95px;
  overflow: hidden;
}

.hero-bg .main-section .dynamic-text-wrapper .dynamic-text li {
  list-style: none;
  color: #65ffca;
  padding: 9px 0;
  font-size: 48px;
  line-height: 68px;
  font-weight: bold;
  position: relative;
  top: 0;
  -webkit-animation: slide 6s steps(4) infinite;
          animation: slide 6s steps(4) infinite;
}

.hero-bg .main-section .dynamic-text-wrapper .dynamic-text li span {
  position: relative;
}

.hero-bg .main-section .dynamic-text-wrapper .dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-navy);
  border-left: 2px solid #65ffca;
  -webkit-animation: typing 1.5s steps(10) infinite;
          animation: typing 1.5s steps(10) infinite;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@-webkit-keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.hero-bg p {
  padding-top: 10px;
  color: #8893af;
  font-size: 18px;
  line-height: 24px;
}

.hero-bg .btn-primar {
  color: #65ffca;
  background-color: transparent;
  border-color: #65ffca;
  font-family: "Fira Mono", monospace;
  margin-top: 2rem;
  padding: 1rem 2rem;
  z-index: 1000;
}

.bottom-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.bottom-el .left-scroll {
  position: fixed;
  bottom: 10rem;
  left: 4rem;
}

.bottom-el .left-scroll ul {
  list-style-type: none;
}

.bottom-el .left-scroll ul li {
  padding: 0.5rem 0;
}

.bottom-el .left-scroll ul li a {
  color: var(--slate);
  font-size: 1.5em;
}

.bottom-el .left-scroll ul li a :hover {
  color: #65ffca !important;
}

.bottom-el .left-scroll .lineY :after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.bottom-el .right-scroll {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: fixed;
  bottom: 18rem;
  right: 3rem;
}

.bottom-el .right-scroll a {
  color: var(--light-slate);
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 986px) {
  .hero-bg {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .hero-bg .main-section h1 {
    font-size: 42px;
  }
  .hero-bg .main-section .dynamic-text-wrapper .static-text {
    font-size: 24px;
    line-height: 34px;
  }
  .hero-bg .main-section .dynamic-text-wrapper .dynamic-text {
    margin-left: 10px;
    height: 38px;
    line-height: 42.5px;
  }
  .hero-bg .main-section .dynamic-text-wrapper .dynamic-text li {
    padding: 4px 0;
    font-size: 24px;
    line-height: 34px;
    top: 0;
    -webkit-animation: slide 6s steps(4) infinite;
            animation: slide 6s steps(4) infinite;
  }
  .hero-bg .main-section .dynamic-text-wrapper .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: typing 1.5s steps(10) infinite;
            animation: typing 1.5s steps(10) infinite;
  }
  @-webkit-keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
  @-webkit-keyframes slide {
    100% {
      top: -168px;
    }
  }
  @keyframes slide {
    100% {
      top: -168px;
    }
  }
  .hero-bg .main-section p {
    font-size: 14px;
  }
  .hero-bg .bottom-el {
    display: none;
  }
}

.about-me {
  background-color: var(--dark-navy);
  padding-top: 100px;
}

.about-me .row .col-lg-4 .d-flex h1 {
  color: var(--white);
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
}

.about-me .row .col-lg-4 .d-flex div ::after {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: var(--white);
  position: inherit;
}

.about-me .row .col-lg-4 p {
  color: var(--dark-slate);
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  padding: 28px 0 0 0;
}

.about-me .row .col-lg-4 img:hover {
  -webkit-box-shadow: 10px 1px 20px #e6f1ff;
          box-shadow: 10px 1px 20px #e6f1ff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.about-me .row .col-lg-4 img {
  -webkit-transition: all 1s;
  transition: all 1s;
  border: .3rem solid;
  border-color: #65ffca;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px #65ffca;
          box-shadow: 1px 1px 1px #65ffca;
}

.about-me .row .col-lg-4 .col-sm-3 ul {
  list-style-type: none;
}

.about-me .row .col-lg-4 .col-sm-3 ul li {
  color: var(--white);
}

.about-me .row .col-lg-4 .col-sm-3 ul li i {
  color: #65ffca;
}

@media (max-width: 986px) {
  .about-me {
    padding: 40px 38px 0 38px;
  }
  .about-me .flex-mobile .col-sm-3 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.resume {
  position: fixed;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.resume form {
  background-color: var(--slate);
  padding: 100px 200px;
  border-radius: 10px;
}

.resume form h1 {
  color: #65ffca;
  font-family: 'Fira Mono', monospace;
}

.resume form .close-btn {
  margin-left: 370px;
  margin-top: -40px;
}

.resume form .close-btn i {
  font-size: 2em;
}

.resume form .form-group label {
  font-weight: 600;
  font-size: 19px;
}

.resume form .btn-primar {
  color: #65ffca;
  background-color: transparent;
  border-color: #65ffca;
  font-family: 'Fira Mono', monospace;
  margin: 1rem 0 0 2rem;
  padding: 1rem 4.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.worked {
  padding-top: 120px;
  background-color: var(--dark-navy);
}

.worked .row .col ::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.worked .row .col h3 {
  color: var(--white);
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
}

.worked .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-top: 130px;
}

.worked .d-flex .left-title ul {
  list-style: none;
}

.worked .d-flex .left-title ul .btnn {
  color: var(--lightest-slate);
  background-color: transparent;
  border: none;
  padding: 12px 0;
}

.worked .d-flex .left-title ul #openPopup:focus {
  outline: none;
}

.worked .d-flex .line {
  padding: 0 50px;
}

.worked .d-flex .right-describtion {
  max-width: 600px;
}

.worked .d-flex .right-describtion h3 {
  color: var(--white);
  font-weight: 400;
  line-height: 24px;
}

.worked .d-flex .right-describtion h3 span {
  color: #65ffca !important;
}

.worked .d-flex .right-describtion small {
  color: var(--white);
}

.worked .d-flex .right-describtion p {
  color: var(--light-slate);
}

.worked .d-flex .right-describtion p i {
  color: #65ffca;
  font-size: 18px;
}

@media (max-width: 986px) {
  .worked .d-flex {
    display: block !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .worked .d-flex .left-title {
    padding-bottom: 60px;
  }
  .worked .d-flex .left-title ul {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .worked .d-flex .left-title ul li .btnn {
    font-size: 22px;
  }
}
@media (max-width: 300px) {
  .worked .d-flex .left-title {
    padding-bottom: 0;
  }
  .worked .d-flex .left-title ul li .btnn{
    font-size: 18px;
  }
}

.tab--active {
  color: #65ffca !important;
  font-size: 35px;
  font-weight: 600;
}

.operation--content {
  display: none;
}

.content--active {
  display: block;
}

.templates {
  padding: 50px 0;
  background-color: var(--dark-navy);
}

.templates .row {
  padding: 40px 0;
}

.templates .row .col ::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.templates .row .col h3 {
  color: var(--white);
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
}

.templates .row .col-md-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 1px 1px 4px #e6f1ff;
          box-shadow: 1px 1px 4px #e6f1ff;
}

.templates .row .col-md-3:hover .card h5 {
  color: #65ffca;
}

.templates .row .col-md-3:hover .card h6 {
  color: var(--white);
}

.templates .row .col-md-3 .card {
  background-color: var(--light-navy);
}

.templates .row .col-md-3 .card .card-links {
  padding: 2rem 1rem;
}

.templates .row .col-md-3 .card .card-links i {
  color: #65ffca;
}

.templates .row .col-md-3 .card .card-links .fa-folder {
  font-size: 42px;
}

.templates .row .col-md-3 .card .card-links .fa-github {
  margin-left: 5rem;
  font-size: 25px;
}

.templates .row .col-md-3 .card .card-links .fa-up-right-from-square {
  font-size: 25px;
}

.templates .row .col-md-3 .card h5, .templates .row .col-md-3 .card p {
  color: var(--lightest-slate);
}

.templates .row .col-md-3 .card h5 {
  font-size: 25px;
  font-weight: 500;
  line-height: 35.8px;
}

@media (max-width: 986px) {
  .templates .row .col-md-3:hover {
    -webkit-box-shadow: 0, 0, 0 transparent;
            box-shadow: 0, 0, 0 transparent;
  }
  .templates .row .col-md-3 {
    padding: 18px 0;
  }
  .templates .row .col-md-3 .card {
    margin: auto;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 986px) {
  .templates .row.col-md-3 .card{
      margin: auto;
      padding: 0;
  }
}

.contact {
  padding-top: 40px;
  background-color: var(--dark-navy);
}

.contact .col {
  padding: 50px 200px;
}

.contact .col h3 {
  color: var(--white);
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
}

.contact .col p {
  color: #8893af;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 100px;
}

.contact .col .say-hello {
  color: #65ffca;
  background-color: transparent;
  border-color: #65ffca;
  font-family: 'Fira Mono', monospace;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

@media (max-width: 986px) {
  .contact .col {
    padding: 50px 0;
  }
}
@media (max-width: 300px) {
  .contact .col {
    padding: 20px 0;
  }
}

.footer {
  padding: 100px 0;
  background-color: var(--dark-navy);
}

.footer .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer .row .col h4 {
  color: var(--light);
}

.footer .row .col h4 a {
  text-decoration: underline;
}

#openPopup:focus {
  outline: none;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark-navy);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader__img {
  width: 100px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.dissappier {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*$grey: rgba(0, 0, 0, .5);
$blue: rgba(0, 0, 255, .5);

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: $grey;
	}
	50% {
		transform: rotate(180deg);
		border-top-color: $blue;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: $grey;
	}
}






h1, h3 {
	display: block;
	margin: 0px auto;
	text-align: center;
	font-family: 'Tahoma';
	font-weight: lighter;
	color: $grey;
	letter-spacing: 1.5px;
}

h1 {
	margin: 50px auto;
}

@mixin loaderDivMixin {
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
}

.loader {
	position: relative;
	margin: 75px auto;
	width: 150px;
	height: 150px;
	display: block;
	overflow: hidden;
	div {
		height: 100%;
	}
}

/* loader 1 */
/*.loader1, .loader1 div {
	@include loaderDivMixin;
	border-top-color: $grey;
	border-bottom-color: $blue;
}

/*loader 2  */
/*.loader2, .loader2 div {
	@include loaderDivMixin;
	border-top-color: $blue;
	border-left-color: $grey;
	border-right-color: $grey;
}*/
/*loader 3  */
/*.loader3, .loader3 div {
	@include loaderDivMixin;
	border-top-color: $grey;
	border-left-color: $blue;
	animation-timing-function: cubic-bezier(.55, .38, .21, .88);
	animation-duration: 3s;
}

/* loader 4 */
/*.loader4, .loader4 div {
	@include loaderDivMixin;
	border-radius: 50%;
	padding: 4px;
	animation: rotate2 4s infinite linear;
}

div:hover {
	animation-play-state: paused;
}

.loader, .loader * {
	will-change: transform;
}*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
}

:root {
  --dark-navy: rgb(2, 12, 27);
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: rgb(35, 53, 84);
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: rgb(73, 86, 112);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: rgb(230, 241, 255);
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}
/*# sourceMappingURL=main.css.map */