.heading{
  .row{
    justify-content: center;
    text-align: center;
    .col-md{
      margin-top: 128px;
      h2{
        font-size: 48px;
        line-height: 68px;
        font-weight: 600;
      }
      p{
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}